/* flex */
.flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    justify-content: center;
}

/* position: relative */
.relative {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* box */
.box {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    box-align: center;
    box-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -moz-box-align: center;
    -moz-box-pack: center;
}

/* inline-block */
.inline-block-wrap {
    text-align: center;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}